/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
body{font-family:arial;text-align:center; 
-webkit-touch-callout: none;/* prevent callout to copy image, etc when tap to hold */
/* -webkit-text-size-adjust: none; prevent webkit from resizing text to fit */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
height:100%;
    background-color:#4B9466;
	color :#FFF;
	font-size:100%;
}
input{color:#000;background:#FFF;}
.container{width:96%;margin:0px auto;max-width:600px;padding:1em 2%;}
.header{width:100%;margin:auto;font-size:2em;}
.footer{padding:2em;}
.header,.footer,.bigform{  }
.bigform input{
	font-size:1.6em;
	border:1px solid #999;
	border-radius:2px;
	box-shadow: inset 1px 1px 1px #99cc99,inset -1px 1px 1px #99cc99;
	margin:0.5em auto;
	padding:0.1em 0.2em;
	width:2em;
}
.bigform button{
	color:#ceffce;
	font-size:4em;
	padding:0.2em 0.5em;
	border-radius:4px;
	border:1px solid #006600;
	box-shadow:inset 0px -1px 0.2em #004400,inset -1px -1px 0.2em #ccffcc;
}
.bigform p, .bigform label{
font-size:2em;
}
.x{font-size:5em;background-color:#fff;color:#090;padding:1em;width:5em;margin:1em auto;}
.c{display:block;  transition: width 1s, background-color 0.7s, transform 0.5s; width:6em; background-color:#cfc;color:#060;}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
